<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" metadata-complete="true" version="3.0">
  <display-name>superbet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>-1</session-timeout>
  </session-config>
  <listener>
    <listener-class>config.InitialisationDAOFactory</listener-class>
  </listener>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
<!--  <filter>
  	<filter-name>Set Character Encoding</filter-name>
  	<filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>UTF-8</param-value>
  	</init-param>
  	<init-param>
  		<param-name>ignore</param-name>
  		<param-value>false</param-value>
  	</init-param>
  </filter> 
  <filter-mapping>
  	<filter-name>Set Character Encoding</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>  -->
  <servlet>
    <servlet-name>Authentication</servlet-name>
    <servlet-class>servlets.Authentication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authentication</servlet-name>
    <url-pattern>/authentication</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManageKeno</servlet-name>
    <servlet-class>servlets.ManageKeno</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageKeno</servlet-name>
    <url-pattern>/manageKeno</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManageSpin</servlet-name>
    <servlet-class>servlets.ManageSpin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageSpin</servlet-name>
    <url-pattern>/manageSpin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DisplayKeno</servlet-name>
    <servlet-class>servlets.DisplayKeno</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayKeno</servlet-name>
    <url-pattern>/displayKeno</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetState</servlet-name>
    <servlet-class>servlets.GetState</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetState</servlet-name>
    <url-pattern>/getState</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetCagnot</servlet-name>
    <servlet-class>servlets.GetCagnot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCagnot</servlet-name>
    <url-pattern>/getCagnotte</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DisplaySpin</servlet-name>
    <servlet-class>servlets.DisplaySpin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplaySpin</servlet-name>
    <url-pattern>/displaySpin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ValiderServlet</servlet-name>
    <servlet-class>servlets.ValiderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValiderServlet</servlet-name>
    <url-pattern>/valider</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateBonus</servlet-name>
    <servlet-class>servlets.UpdateBonus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBonus</servlet-name>
    <url-pattern>/updatebonus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RetrieveMultiplicateur</servlet-name>
    <servlet-class>servlets.RetrieveMultiplicateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieveMultiplicateur</servlet-name>
    <url-pattern>/multiplicateur</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>RetrieveSumOdd</servlet-name>
    <servlet-class>servlets.RetrieveSumOdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieveSumOdd</servlet-name>
    <url-pattern>/sumodd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateBonusP</servlet-name>
    <servlet-class>servlets.UpdateBonusP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBonusP</servlet-name>
    <url-pattern>/updatebonusp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RefreshDatas</servlet-name>
    <servlet-class>servlets.RefreshDatas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RefreshDatas</servlet-name>
    <url-pattern>/refreshdatas</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GenerateDraw</servlet-name>
    <servlet-class>servlets.GenerateDraw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateDraw</servlet-name>
    <url-pattern>/generatedraw</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GenerateDrawP</servlet-name>
    <servlet-class>servlets.GenerateDrawP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateDrawP</servlet-name>
    <url-pattern>/generatedrawp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManageVersement</servlet-name>
    <servlet-class>servlets.ManageVersement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageVersement</servlet-name>
    <url-pattern>/versement</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateTirage</servlet-name>
    <servlet-class>servlets.UpdateTirage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTirage</servlet-name>
    <url-pattern>/updatetirage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateTirageP</servlet-name>
    <servlet-class>servlets.UpdateTirageP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTirageP</servlet-name>
    <url-pattern>/updatetiragep</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GameState</servlet-name>
    <servlet-class>servlets.GameState</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GameState</servlet-name>
    <url-pattern>/gamestate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RecordClient</servlet-name>
    <servlet-class>servlets.RecordClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecordClient</servlet-name>
    <url-pattern>/record</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RecordDisplay</servlet-name>
    <servlet-class>servlets.RecordDisplay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecordDisplay</servlet-name>
    <url-pattern>/recordisplay</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RecordDisplayP</servlet-name>
    <servlet-class>servlets.RecordDisplayP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecordDisplayP</servlet-name>
    <url-pattern>/recordisplayp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManageTime</servlet-name>
    <servlet-class>servlets.ManageTime</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageTime</servlet-name>
    <url-pattern>/managetime</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManageTimep</servlet-name>
    <servlet-class>servlets.ManageTimep</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageTimep</servlet-name>
    <url-pattern>/managetimep</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManageBonusP</servlet-name>
    <servlet-class>servlets.ManageBonusP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageBonusP</servlet-name>
    <url-pattern>/managebonusp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManageAirtime</servlet-name>
    <servlet-class>servlets.ManageAirtime</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageAirtime</servlet-name>
    <url-pattern>/updateairtime</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManageBonus</servlet-name>
    <servlet-class>servlets.ManageBonus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageBonus</servlet-name>
    <url-pattern>/managebonusk</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManageCagnotte</servlet-name>
    <servlet-class>servlets.ManageCagnotte</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageCagnotte</servlet-name>
    <url-pattern>/managecagnot</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>CheckEndP</servlet-name>
    <servlet-class>servlets.CheckEndP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckEndP</servlet-name>
    <url-pattern>/checkendp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>servlets.Deconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Shift</servlet-name>
    <servlet-class>servlets.Shift</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Shift</servlet-name>
    <url-pattern>/endofday</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Administration</servlet-name>
    <servlet-class>servlets.Administration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Administration</servlet-name>
    <url-pattern>/administration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Ticket</servlet-name>
    <servlet-class>servlets.AdminTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ticket</servlet-name>
    <url-pattern>/admin_ticket</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Turnover</servlet-name>
    <servlet-class>servlets.Turnover</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Turnover</servlet-name>
    <url-pattern>/turnover</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Airtime</servlet-name>
    <servlet-class>servlets.AdminAirtime</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Airtime</servlet-name>
    <url-pattern>/admin_airtime</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RetrievePartner</servlet-name>
    <servlet-class>servlets.RetrievePartner</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrievePartner</servlet-name>
    <url-pattern>/retrievePartner</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>RetrieveUser</servlet-name>
    <servlet-class>servlets.RetrieveUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieveUser</servlet-name>
    <url-pattern>/retrieveUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RetrieveTicket</servlet-name>
    <servlet-class>servlets.RetrieveTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieveTicket</servlet-name>
    <url-pattern>/retrieveTicket</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RetrieveBonus</servlet-name>
    <servlet-class>servlets.RetrieveBonus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieveBonus</servlet-name>
    <url-pattern>/retrieveBonus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Configurations</servlet-name>
    <servlet-class>servlets.Configurations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Configurations</servlet-name>
    <url-pattern>/configuration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CloseShift</servlet-name>
    <servlet-class>servlets.CloseShift</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CloseShift</servlet-name>
    <url-pattern>/closeshift</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Reporting</servlet-name>
    <servlet-class>servlets.Reporting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reporting</servlet-name>
    <url-pattern>/reporting</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExecuteCob</servlet-name>
    <servlet-class>servlets.ExecuteCob</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecuteCob</servlet-name>
    <url-pattern>/executeCob</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RetrieveCagnotte</servlet-name>
    <servlet-class>servlets.RetrieveCagnotte</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieveCagnotte</servlet-name>
    <url-pattern>/retrieveCagnotte</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UrlServer</servlet-name>
    <servlet-class>servlets.UrlServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UrlServer</servlet-name>
    <url-pattern>/paramserver</url-pattern>
  </servlet-mapping>
</web-app>